{% extends "base.html" %}
{% block title %}{{ 'Editar DIN' if registro else 'Nueva DIN' }}{% endblock %}
{% block content %}
<h1 class="h3 mb-3">{{ 'Editar DIN' if registro else 'Nueva DIN' }}</h1>
<form method="post" novalidate class="col-12 col-lg-9">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-6 col-md-3 mb-3">
      {{ form.numero.label(class="form-label") }}
      {{ form.numero(class="form-control", placeholder="1289") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.oc.label(class="form-label") }}
      {{ form.oc(class="form-control", placeholder="14156") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.agencia.label(class="form-label") }}
      {{ form.agencia(class="form-control", placeholder="UPS, DHL, Carlos Arredondo...") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.estado.label(class="form-label") }}
      {{ form.estado(class="form-select") }}
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3 mb-3">
      {{ form.n_doc_agencia.label(class="form-label") }}
      {{ form.n_doc_agencia(class="form-control", placeholder="1110653") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.monto_doc_agencia.label(class="form-label") }}
      {{ form.monto_doc_agencia(class="form-control") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.proveedor.label(class="form-label") }}
      {{ form.proveedor(class="form-control", placeholder="MC Master") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.n_invoice.label(class="form-label") }}
      {{ form.n_invoice(class="form-control", placeholder="62321828") }}
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3 mb-3">
      {{ form.rut.label(class="form-label") }}
      {{ form.rut(class="form-control", placeholder="99578050-K") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.razon_social.label(class="form-label") }}
      {{ form.razon_social(class="form-control", placeholder="SHAW ALMEX CHILE SPA") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.formulario.label(class="form-label") }}
      {{ form.formulario(class="form-control", placeholder="17") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.folio.label(class="form-label") }}
      {{ form.folio(class="form-control", placeholder="402360883") }}
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3 mb-3">
      {{ form.fecha_pago.label(class="form-label") }}
      {{ form.fecha_pago(class="form-control") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.vcto.label(class="form-label") }}
      {{ form.vcto(class="form-control") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.advalorem.label(class="form-label") }}
      {{ form.advalorem(class="form-control") }}
    </div>
    <div class="col-6 col-md-3 mb-3">
      {{ form.total_pagado.label(class="form-label") }}
      {{ form.total_pagado(class="form-control") }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="{{ url_for('importaciones.din') }}" class="btn btn-outline-secondary">Cancelar</a>
</form>
{% endblock %}
