<ul class="nav nav-pills mb-3 gap-1">
  <li class="nav-item">
    <a class="nav-link {{ 'active' if seccion_activa == 'contratos' else '' }}" href="{{ url_for('contratos.contratos') }}">Contratos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ 'active' if seccion_activa == 'clientes' else '' }}" href="{{ url_for('contratos.clientes') }}">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ 'active' if seccion_activa == 'arriendos' else '' }}" href="{{ url_for('arriendos.index') }}">Arriendos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ 'active' if seccion_activa == 'proveedores' else '' }}" href="{{ url_for('arriendos.proveedores') }}">Proveedores</a>
  </li>
</ul>
